@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,800i,900|Quicksand:300,400,500,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
/*-------------General Style---------------------------------------*/

body {
           /* this affects the footer for some reason */
	position: relative;
	padding-bottom: 50px;

}


/*------Responsive------------------------------------------------*/


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1000000;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:left;
	
  }
  
  .sidenav a {
	  font-family: "Lato", sans-serif;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white !important; 
	display: block;
	transition: 0.3s;

  
  }
  
  .sidenav a:hover{
	color: #f1f1f1 !important;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 700px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px; }

  }

  @media screen and (max-width: 700px) {

	.sidenav a {font-size: 18px; 
	padding: 5px  ;
}

  }
  

  
  .hamburger {
	color: white; 
	font-size:30px;
	padding-left: 5px;
	cursor:pointer
  
  }
  
  .z {

	  padding: 5px;
	  
  }
  

  .navigation {
	  background-color: black;
	  height: 50%;
	  z-index: 3; 
  }