/* .modal-backdrop {   
    display: none;    
} */
#notbold{
    font-weight:normal;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif
}
.showMap{
    cursor: pointer;
    transition: transform .5s;
}
.showMap:hover{
    transform: scale(1.05)
}

input {
    border-radius: 15px !important;
    
}

button {
   border-radius: 15px !important; 
}



.col-md-12 {
   background-color:lightgrey !important; 
    margin-top: 350px !important; 

}

.row {
  
}



div {
 
}

body {
    background-color: lightgray !important; 
    z-index: 5px;
}

.form-control {
    border-color: lightgray !important; 
}



