





.jumbotron {
  min-height: 400px;
  padding-top: 100px;
  background-image: url("./img/building.jpeg");
  background-size: 100%; 
  color: whitesmoke;
}

.link{
  color:red;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#text {
  z-index: 50px;
  font-size: 50px; 
  line-height: 60px; 
  font-family: 'Times New Roman';  
  color: white; 
}

