
.jumbotron {
  min-height: 0px !important;

background-color: white;
position: relative;
background-image: url("img/sky.jpeg");
}

.link{
  color:red;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

